Beetle.Express2.0/TcpServerSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Beetle.Express" elementFormDefault="qualified" targetNamespace="urn:Beetle.Express" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="serverSection" type="tns:Beetle.Express.ServerSectionCT" />
	<xs:complexType name="Beetle.Express.ServerSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="listens" type="tns:Beetle.Express.ListenCollectionCT">
				<xs:annotation>
					<xs:documentation>The Listens.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Beetle.Express.ListenCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendBufferSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The SendBufferSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="receiveBufferSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ReceiveBufferSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="receiveDataPoolSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ReceiveDataPoolSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="handler" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Handler.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dispatchs" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Dispatchs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Express.ListenCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="serverListen" type="tns:Beetle.Express.ListenCT">
				<xs:annotation>
					<xs:documentation>The Listen Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
